.wrapper {
	text-align:center;
}
 
.dungeonDescriptionDiv {
	background-color:white;
	color:black;
	float:middle;
	width:30%;
	display:inline-block;
 }
 
 .buttonRow1Div {
	width:30%;
	margin:auto;
 }
 
 .row1 {
	 width:100%;
	 display:block;
 }
 
.buttonRow2Div {
	width:30%;
	height:100px;
	margin: 0px auto
 }
 
.row2 {
	width:25%;
	height: auto;
	float:left;
 }
 
 
 
html { 
	background-color:black; 
}

canvas {
	background-color:white;
}
 
 button {
	 color:gray;
 }
 
 button:hover {
 }