.raceDiv {
	border-style:double;
	border-color:white;
	width:60%;
	height:1500px;
 }
 
.raceDescriptionDiv {
  background-color:gray;
  border-style:double;
  border-color:white;
  width:400px;
  height:100px;
 }
 
 
 
html { 
        background-color:black; 
}
 
 button {
	 background-image:url('../src/img/buttonNormal.png'); 
	 background-size: 100% 100%;	 
	 width:15%;
	 height:200px;
 }
 
 button:hover {
	 background-image:url('../src/img/buttonHighLight.png');
 }